{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="grid-x grid-padding-x">
    <div class="medium-4 medium-offset-4 cell">
        <h1 class="text-center">Login</h1>
        <form action="/login/" method="post">
            {% csrf_token %}
            {{ form.errors }}
            <label>{{ form.username.label_tag }}</label>
            {{ form.username }}
            <label>{{ form.password.label_tag }}</label>
            {{ form.password }}
            <input type="submit" value="Login" class="button expanded"/>
            <a href="/register/" class="secondary button expanded">Register</a>
            <input type="hidden" name="next" value="{{ request.GET.next }}">
        </form>
    </div>
</div>
{% endblock %}