<!DOCTYPE html>
<html class="no-js" lang="en" dir="ltr">
{% load static %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/foundation.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
</head>

<body>
    <div class="top-bar">
        <div class="top-bar-left">
          <ul class="menu">
            <li class="menu-text">CINS 465</li>
            {% if request.user.is_authenticated %}
            <li><a href="/">Home</a></li>
            {% endif %}
          </ul>
        </div>
        <div class="top-bar-right">
          <ul class="menu">
            {% if request.user.is_authenticated %}
            <li><a href="/logout" class="button">Logout</a></li>
            {% else %}
            <li><a href="/login" class="button">Login</a></li>
            {% endif %}
          </ul>
        </div>
      </div>
    {% block content %}{% endblock %}
    <script src="{% static 'js/vendor/jquery.js' %}"></script>
    <script src="{% static 'js/vendor/what-input.js' %}"></script>
    <script src="{% static 'js/vendor/foundation.min.js' %}"></script>
    {% block scripts %}{% endblock %}
</body>

</html>