<!-- index.html file for CINS 465 -->
<!DOCTYPE html>
<html class="no-js" lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
</head>

<body>
    <h1>{{ message }}</h1>
    {% if prev >= 0 %}
    <a href="/{{ prev }}">Prev</a>
    {% endif %}
    <a href="/{{ next }}">Next</a>
    <ul>
        {% for p in page_list %}
        <li>{{ p }}</li>
        {% endfor %}
    </ul>
    <ol>
        {% for value in squares %}
            <li>{{ value }}</li>
        {% endfor %}
    </ol>
</body>

</html>