<!-- index.html file for CINS 465 -->
{% extends "base.html" %}
{% load static %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="grid-container">
    <div class="grid-x grid-padding-x">
        <div class="small-12 cell">
            <img src="{% static 'assets/csuc-homepage-banner-xlarge.jpeg' %}" alt="CSU, Chico image">
            <h1>{{ message }}</h1>
            <a href="/" class="button">Home</a>
            <a class="alert button" href="/likes">Like a random question</a>

            <br>
            {% if request.user.is_authenticated %}
            <form action="/questions/" method="post">
                {% csrf_token %}
                {{ q_form.errors }}
                <label for="question_label">
                    {{ q_form.question_text.label }}
                </label>
                {{ q_form.question_text }}
                <input type="submit" value="Submit Your Question" class="button"></input>
            </form>
            {% endif %}

            <div id="quest-rendering">
                {% verbatim %}
                <div v-for="q in questions">
                    {{ q.question_text }}
                        - {{ q.pub_date }}, {{ q.likes }}
                        <ul v-for="a in q.answers">
                            <li>
                                {{ a.answer_text }}
                                - {{ a.pub_date }}
                            </li>
                        </ul>
                        <br>
                        <a v-bind:href="'/answer/' + q.id + '/'">Answer this question</a>
                </div>
                {% endverbatim %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="https://unpkg.com/vue@3"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="{% static 'js/myvue.js' %}"></script>
{% endblock %}